// colors
$color_1: #607d8b;
$color_2: #ffd54f;
$color_3: #5e35b1;
$color_4: #eceff1;
$color_5: #ffffff; // white
// text
$text-color-main : #444444;
// fonts
$poiret: 'Poiret One',
cursive;
$montserrat: 'Montserrat',
sans-serif;